:root {
  background-color: #2f3539;
  font: 62.5%;
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Lobster&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap"); */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
}

.t_wrapper {
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1000px;
  /* border: 1px dashed crimson; */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex_col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*nav*/
.header {
  background: #1e1e1e;
}
.navbar {
  justify-content: space-between;
  min-height: 3.2rem;
  max-width: 1400px;
  width: 95%;
  margin: auto;
  color: #e8e8e8;
}
.navbar > * {
  padding: 0rem 0.8rem;
}

.logo {
  font-family: "Lobster", cursive;

  font-size: 2rem;
}

/* cards  */
.card_wrap {
  position: relative;
}
.card {
  min-height: 16rem;
  width: 13rem;
  margin: auto;
  border-radius: 5px;
  top: -100px;
  transform-style: preserve-3d;
}

.card_head img {
  width: 100%;
  margin: auto;
}

.card_body {
  text-align: center;
  padding-top: 0.8rem;
  color: #1e1e1e;
}

.card_front,
.card_back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  transition: all 0.6s linear;
  border-radius: 5px;
  box-shadow: 0px 1.9px 2.1px rgba(0, 0, 0, 0.15),
    0px 4.7px 4.9px rgba(0, 0, 0, 0.095), 0px 8.8px 9.1px rgba(0, 0, 0, 0.082),
    0px 15.6px 16.3px rgba(0, 0, 0, 0.077),
    0px 29.2px 31.4px rgba(0, 0, 0, 0.071), 0px 70px 80px rgba(0, 0, 0, 0.06);
}

.card_front {
  background-image: linear-gradient(
    to right top,
    #f54b64,
    #f75b61,
    #f76960,
    #f77660,
    #f78361
  );
  transform: perspective(1000px) rotateY(0deg);
}

.card_back {
  background: #3f474d;
  transform: perspective(1000px) rotateY(180deg);
}

.card:hover > .card_front {
  transform: perspective(1000px) rotateY(-180deg);
}
.card:hover > .card_back {
  transform: perspective(1000px) rotateY(0deg);
}

/* opt */

.card_body h3 {
  text-align: left;
}
.card_back {
  padding: 0rem 1rem;
}

.card_back h3 {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(
    to right top,
    #f54b64,
    #f75b61,
    #f76960,
    #f77660,
    #f78361
  );
  border-image-slice: 1;
  margin: 0;
  padding: 0.5rem 0rem 0.3rem;
  color: #f5f7f7;
}
.card_front .card_head {
  background: #3f474d;
}
.card_back .card_body {
  color: #c2c4c4;
}

.card_body {
  display: flex;
  flex-direction: column;
  text-align: justify;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.card_btn {
  margin-top: 3.5rem;
  padding: 0.5rem 2rem;
  background: transparent;
  outline: none;
  border: 2px solid #f76960;
  border-radius: 5px;
  font-weight: 700;
}

.btn {
  text-decoration: none;
  color: #f5f7f7;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 4px;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 30px 2px rgba(0, 0, 0, 0.15);
  position: relative;
  overflow: hidden;
  outline: none;
}
.btn::after {
  position: absolute;
  width: 0%;
  content: "";
  height: 120%;
  outline: 0;
  left: -10%;
  bottom: 0%;
  background-image: linear-gradient(
    to right top,
    #f54b64,
    #f75b61,
    #f76960,
    #f77660,
    #f78361
  );
  transition: 0.3s;
  transform: skewX(15deg);
  z-index: -1;
}
.btn:hover::after {
  width: 120%;
}
.btn:hover {
  cursor: pointer;
  color: white;
  transform: translateY(0.1rem);
}

/* one
.one .card_front .card_head,
.one .card_back,
.one .card_back h3 {
  background: #93b5c6;
  color: #3c6072;
}
.one .card_btn {
  border: 2px solid #3c6072;
  color: #3c6072;
}

.one .card_back h3 {
  border-bottom: 2px solid #3c6072;
}

.one .card_back .card_body {
  color: #232931;
}

.one .btn::after {
  background: #3c6072;
  color: #e2e8f0;
}

.btn:hover {
  color: #e2e8f0;
}

/* two */
/* .two .card_front .card_head,
.two .card_back,
.two .card_back h3 {
  background: #f8a488;
  color: #000000;
}
.two .card_btn {
  border: 2px solid #9b2d09;
  color: #9b2d09;
}

.two .card_back h3 {
  border-bottom: 2px solid #9b2d09;
}

.two .card_back .card_body {
  color: #000000;
}

.two .btn::after {
  background: #9b2d09;
}

.btn:hover {
  color: #e2e8f0;
} */

/* three */

/* .three .card_front .card_head,
.three .card_back,
.three .card_back h3 {
  background: #bdd2b6;
  color: #4a6840;
}
.three .card_btn {
  border: 2px solid #4a6840;
  color: #4a6840;
}

.three .card_back h3 {
  border-bottom: 2px solid #4a6840;
}

.three .card_back .card_body {
  color: #4a6840;
}

.three .btn::after {
  background: #4a6840;
}

.btn:hover {
  color: #e2e8f0;
} */
/* four */
/* 
.four .card_front .card_head,
.four .card_back,
.four .card_back h3 {
  background: #c5a5ad;
  color: #845460;
}
.four .card_btn {
  border: 2px solid #845460;
  color: #845460;
}
.four .card_back h3 {
  border-bottom: 2px solid #845460;
}

.four .card_back .card_body {
  color: #845460;
}

.four .btn::after {
  background: #845460;
} */

/* four */

/* .five .card_front .card_head,
.five .card_back,
.five .card_back h3 {
  background: #ffe492;
  color: #c89600;
}
.five .card_btn {
  border: 2px solid #c89600;
  color: #c89600;
}
.five .card_back h3 {
  border-bottom: 2px solid #c89600;
}

.five .card_back .card_body {
  color: #c89600;
}

.five .btn::after {
  background: #c89600;
}

.btn:hover {
  color: #e2e8f0;
} */
/* six */

/* .six .card_front .card_head,
.six .card_back,
.six .card_back h3 {
  background: #9ce2a4;
  color: #2d9a39;
}
.six .card_btn {
  border: 2px solid #2d9a39;
  color: #2d9a39;
}
.six .card_back h3 {
  border-bottom: 2px solid #2d9a39;
}

.six .card_back .card_body {
  color: #2d9a39;
}

.six .btn::after {
  background: #2d9a39;
}

.btn:hover {
  color: #e2e8f0;
} */
/* seven*/

/* .seven .card_front .card_head,
.seven .card_back,
.seven .card_back h3 {
  background: #c5b5de;
  color: #967ac3;
}
.seven .card_btn {
  border: 2px solid #967ac3;
  color: #967ac3;
}
.seven .card_back h3 {
  border-bottom: 2px solid #967ac3;
}

.seven .card_back .card_body {
  color: #967ac3;
}

.seven .btn::after {
  background: #967ac3;
}

.btn:hover {
  color: #e2e8f0;
} */

/*eight*/
/* 
.eight .card_front .card_head,
.eight .card_back,
.eight .card_back h3 {
  background: #a7e1e9;
  color: #258896;
}
.eight .card_btn {
  border: 2px solid #258896;
  color: #258896;
}
.eight .card_back h3 {
  border-bottom: 2px solid #258896;
}

.eight .card_back .card_body {
  color: #258896;
}

.eight .btn::after {
  background: #258896;
}  */
